* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: sans-serif;
  background: white;
  color: black;
}

.container {
  display: flex;
  height: 100vh;
}

.menu {
  width: 200px;
  padding: 20px;
}

.menu h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.menu ul {
  list-style: none;
}

.menu li {
  margin: 10px 0;
  cursor: pointer;
}

.menu li:hover {
  text-decoration: underline;
}

.viewer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer img {
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
}